# CODEOWNERS file
# This file defines who owns specific files in the repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Package.json maintenance
/package.json @loilo-inc/oss-maintainer-js
/package-lock.json @loilo-inc/oss-maintainer-js
/.github/workflows @loilo-inc/oss-maintainer-js
